/*
Format to change e.g. font-sizes of h1 elements when viewed on mobile
    
@media screen and (max-width: 1000px) {
    h1 {
        font-size:2.5em;
    }
}


*/

/* headings font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');







.top-nav span, #signOutButton i, #signInPageButton a{
  color: #D6CDA4;
}

* {
    font-family: 'Nunito', sans-serif;
    color: #C6B4A9;
}

main > .container h1, main > .container h3 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 5px;
}

main, html {
    background-color: #214E34;
}

.home {
    background-image: url('../img/index-banner.jpg');
}

.hero-banner {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    padding: 17em;
    text-align: center;
    box-shadow: 0 2px 5px 0 black;
}


.hero-banner > i {
    font-size:1.7em;
    /* color: #D6CDA4; */
}

.hero-banner > h1 {
    font-size:4em;
    font-weight:bold;
}

@media screen and (max-width: 1000px) {
    .hero-banner {
        padding: 10em 1em; /* shorter height and smaller side padding */
        display: flex; /* enable flexbox */
        flex-direction: column; /* stack elements vertically */
        justify-content: center; /* center vertically */
        align-items: center; /* center horizontally */
    }

    
    .hero-banner > i {
      font-size: 1.2em;
    }
    
    .hero-banner > h1 {
      font-size: 3em;
    }
  }


/* .container {
    padding:20px 50px;
} */

/* footer {
    background-color: #3D8361;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-shadow:-1px 1px black;
    box-shadow: 0 -2px 2px 0 black;
}

footer p {
    margin: 0;
    font-size: 1em;
}
 */

/* Navbar */

#navbar-logo {
  width: 40px;
  height: 40px;
  border-radius: 7px;
  border: transparent;
}

nav p {
  display: inline;
}

nav div {
  text-align: center;
}

nav button {
  background-color:transparent;
  border: none;
}





/* WM Footer */
/* .footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-text{
  text-align: center;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:25px;
  font-family: "Montserrat", sans-serif;
}

.footer-dark p{
  font-family: "Montserrat", sans-serif;

}

.footer-dark .item.social {
  text-align:center;
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.7;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
} */

h1 {
    font-size:3.5em;
    margin-bottom:20px;
    /* color: #D6CDA4; */
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size:2.5em;
    }


}
.row {
    text-align: center;
    margin: 10px 5px;
}

main > .container > .row {
    margin:60px 0;
}
.mission > p {
    font-size:1.5em;
}

p {
    font-size:1.15em;
    color: #EEF2E6;
}

.mission {
    border: 1px solid #196455;
    border-radius: 15px;
    padding:25px;
    background-color: #5c7457;
    box-shadow: -10px 12px 4px 0 #153121;
}

.mission h1 {
    font-size: 3em;
    width: 330px;
    text-align: center;
  }
  



.info-card {
    margin: 0px;
  }
  
  .info-card-pic {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 5px 10px 0px rgba(0, 48, 12, 0.9); 
  }
  
  .info-card-text {
    text-align: center;
    padding-top: 20px;
  }
  


.info-card-row {
    padding: 15px;
}

@media screen and (max-width: 1000px) {
  .mission h1 {
    font-size: 2em;
    width: 100%;
  }

  .info-card-pic {
    height:100%;
    width:100%;
  }

  .info-card-text {
    font-size: 70%;
    padding: 0;
    margin-top:20px !important;
  }
}
/* */
  

figure.challenge-figure{
    width:100%;
    height:75%;
    margin-top:20px;
    border: 1px solid black;
    border-radius:10px;
    transition: 0.4s;
    margin-bottom:20px;
    box-shadow: -14px 15px #083d11;
    background-color:#ECC8C0;
}



figure.challenge-figure:hover {
    transition: 0.4s ;
    box-shadow: none;
    filter: brightness(70%);
}

figure.challenge-figure > figcaption {
    color:black;
    padding:10px;
    font-style:italic;
}

.challenge-container a {
  text-decoration: none;
}
  
#challenge-picture {
    width: 100%;
    border-radius:10px 10px 0 0;
    border-bottom: 1px black solid;
}


/*mobile hamburger menu */

.menu a {
  text-decoration: none;
  color:white;
}
li {
  margin: 0 5px;
  padding: 5px 10px;
  transition: 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
}


li:hover {
  background-color: #444444;
}

h2 {
vertical-align: center;
text-align: center;
}


.top-nav {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
background-color: #272727;
height: 50px;
padding: 1em;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index:10;
}

.menu {
display: flex;
flex-direction: row;
list-style-type: none;
margin: 0;
padding: 0;
}

.menu > li {
margin: 0 1rem;
overflow: hidden;
color: #FFF;
}

.menu-button-container {
display: none;
height: 100%;
width: 30px;
cursor: pointer;
flex-direction: column;
justify-content: center;
align-items: center;
}

#menu-toggle {
display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
display: block;
background-color: #fff;
position: absolute;
height: 4px;
width: 30px;
transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
border-radius: 2px;
}

.menu-button::before {
content: '';
margin-top: -8px;
}

.menu-button::after {
content: '';
margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
margin-top: 0px;
transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
margin-top: 0px;
transform: rotate(-405deg);
}

@media (max-width: 700px) {
.menu-button-container {
  display: flex;
}
.menu {
  position: absolute;
  top: 0;
  margin-top: 50px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #222;
}
#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu li {
  border: 1px solid #333;
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu > li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  color: white;
  background-color: #222;
}
.menu > li:not(:last-child) {
  border-bottom: 1px solid #444;
}
}

/* scroll animations */
.reveal{
    position:relative;
    transform:translateY(50px);
    opacity: 0;
    transition: 1.2s all ease;
}

.reveal.active{
    transform:translateY(0);
    opacity:1;
}



/* typing effect */

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .17em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .13em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(18),
      blink-caret 0.8s step-end infinite;
  }
  
  /* Reduce the duration of the animation on mobile */
  @media screen and (max-width: 1000px) {
    .typewriter h1 {
      animation: typing-mobile 1.5s steps(9)
    }
  }
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 330px }
  }
  
  @keyframes typing-mobile {
    from { width: 0; }
    to { width: 250px; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(253, 194, 84) }
  }

/*responsive?*/

/* @media only screen and (max-width: 1000px) {
    
    .hero-banner {
      padding: 6em;
    }
    
    .mission {
      text-align: center;
    }
  } */

@media (max-width: 767px) {
    .info-card {
        transform: translateY(20%);
    }
}

@media (max-width: 767px) {
    .info-card {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  


  /* Footer */
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-text{
  text-align: center;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:25px;
  font-family: "Montserrat", sans-serif;
}

.footer-dark p{
  font-family: "Montserrat", sans-serif;

}

.footer-dark .item.social {
  text-align:center;
}

.footer-dark .item.social a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.7;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.indiv-social {
  display: inline-block;
}

@media (min-width: 1000px) {
  br.show-mobile {
    display:none;
  }
}

@media (max-width: 1000px) {
  .footer-text > h3 {
    font-size: 20px;
  }
  .footer-text > p, .copyright {
    font-size: 90% !important;
  }
  br.show-mobile {
    display:inline-block;
  }
  .social {
    text-align: left !important;
  }
  .indiv-social {
    margin-bottom: 5px;
  }
}

