/*
Format to change e.g. font-sizes of h1 elements when viewed on mobile
    
@media screen and (max-width: 768px) {
    h1 {
        font-size:2.5em;
    }
}


*/

* {
    font-family: 'Nunito', sans-serif;
    color: #D6CDA4;
}

main, html {
    background-color: #1C6758;
}

.home {
    background-image: url('../img/index-banner.jpg');
}

.hero-banner {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    padding: 17em;
    text-align: center;
    box-shadow: 0 2px 5px 0 black;
}


.hero-banner > i {
    font-size:1.7em;
    /* color: #D6CDA4; */
}

.hero-banner > h1 {
    font-size:4em;
    font-weight:bold;
}

@media screen and (max-width: 768px) {
    .hero-banner {
        padding: 10em 1em; /* shorter height and smaller side padding */
        display: flex; /* enable flexbox */
        flex-direction: column; /* stack elements vertically */
        justify-content: center; /* center vertically */
        align-items: center; /* center horizontally */
    }

    
    .hero-banner > i {
      font-size: 1.2em;
    }
    
    .hero-banner > h1 {
      font-size: 3em;
    }
  }


.container {
    padding:20px 50px;
}

footer {
    background-color: #3D8361;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

footer p {
    margin: 0;
    font-size: 1em;
}

h1 {
    font-size:3.5em;
    margin-bottom:20px;
    /* color: #D6CDA4; */
}

@media screen and (max-width: 768px) {
    h1 {
        font-size:2.5em;
    }
}
.row {
    text-align: center;
    margin: 10px 5px;
}

.container > .row {
    margin:60px 0;
}
.mission > p {
    font-size:1.5em;
}

p {
    font-size:1.15em;
    color: #EEF2E6;
}

.mission {
    border: 1px solid #196455;
    border-radius: 15px;
    padding:25px;
    background-color: #3D8361;
    box-shadow: -10px 12px 4px 0 #3c8173;
}

.mission h1 {
    font-size: 3em;
    width: 330px;
    text-align: center;
  }
  
  @media screen and (max-width: 768px) {
    .mission h1 {
      font-size: 2em;
      width: 100%;
    }
  }


.info-card {
    margin: 0px;
  }
  
  .info-card-pic {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid black;
  }
  
  .info-card-text {
    text-align: center;
    padding-top: 20px;
  }
  


.info-card-row {
    padding: 15px;
}

/* */
  

figure.challenge-figure{
    width:100%;
    height:75%;
    margin-top:20px;
    border: 1px solid black;
    border-radius:10px;
    transition: 0.4s;
    margin-bottom:20px;
    box-shadow: -14px 15px #155c4e;
    background-color:#D6CDA4;
}



figure.challenge-figure:hover {
    transition: 0.4s ;
    box-shadow: none;
    filter: brightness(70%);
}

figure.challenge-figure > figcaption {
    color:black;
    text-decoration: none;
    padding:10px;
}
  
#challenge-picture {
    width: 100%;
    border-radius:10px 10px 0 0;
    border-bottom: 1px black solid;
}


/* scroll animations */
.reveal{
    position:relative;
    transform:translateY(50px);
    opacity: 0;
    transition: 1.2s all ease;
}

.reveal.active{
    transform:translateY(0);
    opacity:1;
}



/* typing effect */

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .17em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .13em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(18),
      blink-caret 0.8s step-end infinite;
  }
  
  /* Reduce the duration of the animation on mobile */
  @media screen and (max-width: 768px) {
    .typewriter h1 {
      animation: typing-mobile 1.5s steps(9)
    }
  }
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 330px }
  }
  
  @keyframes typing-mobile {
    from { width: 0; }
    to { width: 250px; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(253, 194, 84) }
  }

/*responsive?*/

/* @media only screen and (max-width: 768px) {
    
    .hero-banner {
      padding: 6em;
    }
    
    .mission {
      text-align: center;
    }
  } */

@media (max-width: 767px) {
    .info-card {
        transform: translateY(20%);
    }
}

@media (max-width: 767px) {
    .info-card {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  