/* fonts */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700,900');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');


span, i {
  color: #D6CDA4;
}
/* Navbar */

#navbar-logo {
  width: 40px;
  height: 40px;
  border-radius: 7px;
  border: transparent;
}

nav p {
  display: inline;
}

nav div {
  text-align: center;
}

nav button {
  background-color:transparent;
  border: none;
}

#signInPageButton > a {
  color: #D6CDA4;
}


/*mobile hamburger menu */

.menu a {
  text-decoration: none;
  color:white;
  font-family: 'Nunito', sans-serif;
}
li {
  margin: 0 5px;
  padding: 5px 10px;
  transition: 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
}


li:hover {
  background-color: #444444;
}

h2 {
vertical-align: center;
text-align: center;
}


.top-nav {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
background-color: #272727;
height: 50px;
padding: 1em;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index:9999;
}

.menu {
display: flex;
flex-direction: row;
list-style-type: none;
margin: 0;
padding: 0;
}

.menu > li {
margin: 0 1rem;
overflow: hidden;
color: #FFF;
}

.menu-button-container {
display: none;
height: 100%;
width: 30px;
cursor: pointer;
flex-direction: column;
justify-content: center;
align-items: center;
}

#menu-toggle {
display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
display: block;
background-color: #fff;
position: absolute;
height: 4px;
width: 30px;
transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
border-radius: 2px;
}

.menu-button::before {
content: '';
margin-top: -8px;
}

.menu-button::after {
content: '';
margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
margin-top: 0px;
transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
margin-top: 0px;
transform: rotate(-405deg);
}

@media (max-width: 700px) {
.menu-button-container {
  display: flex;
}
.menu {
  position: absolute;
  top: 0;
  margin-top: 50px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #222;
}
#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu li {
  border: 1px solid #333;
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu > li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  color: white;
  background-color: #222;
}
.menu > li:not(:last-child) {
  border-bottom: 1px solid #444;
}
}

/* scroll animations */
.reveal{
    position:relative;
    transform:translateY(50px);
    opacity: 0;
    transition: 1.2s all ease;
}

.reveal.active{
    transform:translateY(0);
    opacity:1;
}
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Shadows+Into+Light&family=Tilt+Warp&display=swap');
/* idk what font i used up here and also lazy to check. so cao ni ma */


/* google fonts = "Oswald" */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

/* google fonts = "Poppins" */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* google fonts = "Oswald" */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

/* google fonts = "Poppins" */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* typing effect */

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .17em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .13em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(18),
      blink-caret 0.8s step-end infinite;
  }
  
  /* Reduce the duration of the animation on mobile */
  @media screen and (max-width: 768px) {
    .typewriter h1 {
      animation: typing-mobile 1.5s steps(9)
    }
  }
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 330px }
  }
  
  @keyframes typing-mobile {
    from { width: 0; }
    to { width: 250px; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(253, 194, 84) }
  }

/*responsive?*/

/* @media only screen and (max-width: 768px) {
    
    .hero-banner {
      padding: 6em;
    }
    
    .mission {
      text-align: center;
    }
  } */

@media (max-width: 767px) {
    .info-card {
        transform: translateY(20%);
    }
}

@media (max-width: 767px) {
    .info-card {
      width: 100%;
      margin-bottom: 20px;
    }
  }

/* typing effect */

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .17em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .13em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(18),
      blink-caret 0.8s step-end infinite;
  }
  
  /* Reduce the duration of the animation on mobile */
  @media screen and (max-width: 768px) {
    .typewriter h1 {
      animation: typing-mobile 1.5s steps(9)
    }
  }
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 330px }
  }
  
  @keyframes typing-mobile {
    from { width: 0; }
    to { width: 250px; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(253, 194, 84) }
  }

/*responsive?*/

/* @media only screen and (max-width: 768px) {
    
    .hero-banner {
      padding: 6em;
    }
    
    .mission {
      text-align: center;
    }
  } */

@media (max-width: 767px) {
    .info-card {
        transform: translateY(20%);
    }
}

@media (max-width: 767px) {
    .info-card {
      width: 100%;
      margin-bottom: 20px;
    }
  }

body{
  background-color: white !important;
}

p{
  font-family: 'Montserrat', sans-serif;
}

 .hero-banner-bg{
  height: 600px;
  background-image: url("../img/forest_top_view.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex; /* Add display:flex to enable flexbox */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */

  border-bottom: 1px solid black;
}

.hero-banner-bg .hero-banner-header {
    /* font specifiers */
    width: fit-content;
    color: white;
    font-size: 60px;
    text-align: center;

    font-family: "Bebas Neue", sans-serif;

    /* animaition specifiers */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3s steps(30, end), blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}



/* the logo limpeh created  */
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #367E18;
  height: auto;
  min-height: 130px;
  width: auto;
  min-width: 250px;
  border-radius: 5px;
}

.logo-border{
  margin: 20px;
  padding-right: 15px;
  padding-left: 15px;
  border-left: 10px solid white;
  justify-content: center;
}

.logo-text{
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 35px;
  letter-spacing: 3px;

}

.logo-year{
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  color: white;
}
.additional-text{
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #367E18;
  margin-top: 10px;
  text-align: center;
}













/* main body wrapper for individual elements */
.container-pc{
  margin: auto 100px;
}


.individual_elements{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 350px;
}

.separator{
  margin-bottom: 50px;
}

/* for left-based elements */
.image_left {
  flex: 3;
  position: relative;
  border: 1px solid black;
}

.image_left img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.box_right {
  /* height: 80%; */
  flex: 4;
  background-color: white;
  margin-left: -120px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;
  /* border-radius: 25px; */
  z-index: 100;
  border: 1px solid black;
}

.box_right h2{
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  font-size: 30px;
}

.box_right h3{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.box_right p{
  font-size: 14px;
}

/* for right-based elemenets */
.image_right {
  flex: 3;
  position: relative;
}

.image_right img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border-radius: 10px; */
  object-fit: cover;
  border: 1px solid black;
}

.box_left {
  flex: 4;
  background-color: white;
  margin-right: -120px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;
  /* height: 80%; */
  /* border-radius: 25px; */
  z-index: 100;
  border: 1px solid black;

}

.box_left h2{
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  font-size: 30px;
}

.box_left h3{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.box_left p{
  font-size: 14px;
}

/* display = none when mobile */
@media (max-width: 768px) {
  .container-pc{
    display: none;
  }
  .hero-banner-bg .hero-banner-header {
    font-size: 25px;
  }
}




/* Footer */
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-text{
  text-align: center;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:25px;
  font-family: "Montserrat", sans-serif;
}

.footer-dark p{
  font-family: "Montserrat", sans-serif;

}

.footer-dark .item.social {
  text-align:center;
}

.footer-dark .item.social a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.7;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.indiv-social {
  display: inline-block;
}

@media (min-width: 768px) {
  br.show-mobile {
    display:none;
  }
}

@media (max-width: 768px) {
  .footer-text > h3 {
    font-size: 20px;
  }
  .footer-text > p, .copyright {
    font-size: 90% !important;
  }
  br.show-mobile {
    display:inline-block;
  }
  .social {
    text-align: left !important;
  }
  .indiv-social {
    margin-bottom: 5px;
  }
}





.style-button{
  /* margin-top: 30px; */
  width: 100%;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  padding: 8px;
  border: 0;
  color: white;

}

/* .new_con{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
} */